* {
    margin: 0px;
    padding: 0px;
}

.topnav {
    border: 1px solid #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.createBox {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    padding: 0px 5%;
}

.formBox {
    width: 45%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(51, 51, 51, 0.356);
    height: 28px;
    padding-left: 1%;
    margin-top: 1%;
}

.formBoxExtend {
    width: 91.5%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(51, 51, 51, 0.356);
    height: 25px;
    padding-left: 1%;
    margin-top: 1%;
}

#country {
    width: 60%;
}

#state {
    width: 30%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #333;
    border: 1px solid #333;
    padding: 1%
}

#botao {
    background-color: #98D1F1;
    border: 1px solid rgba(51, 51, 51, 0.356);
    padding: 1% 4%;
    margin-top: 2%;
    border-radius: 8px 8px 8px 8px;
    font-weight: bolder;
}